@tailwind base;
@tailwind components;
@tailwind utilities;


.addAnimation{
    animation: addAnimation 0.5s both ;
}

@keyframes  addAnimation{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}